In [1]:
import pandas as pd
from pathlib import Path
import seaborn as sns

In [2]:
df_path = Path.cwd() / '..' / 'data' / 'nasa_global_landslide_catalog_point.csv'
df = pd.read_csv(df_path)

In [3]:
df.describe()

,OBJECTID,event_id,fatality_count,injury_count,latitude,longitude,gazetteer_distance
count,1.452800e+04,14528.000000,10824.000000,6325.000000,14528.000000,14528.000000,14528.000000
mean,4.615276e+06,7407.879405,5.873060,1.931067,25.202561,8.829987,10.226158
std,4.194017e+03,4351.519095,212.323282,46.097393,19.871627,96.599244,7.234415
min,4.608013e+06,1.000000,0.000000,0.000000,-46.774800,-179.980766,0.000000
25%,4.611645e+06,3662.750000,0.000000,0.000000,12.675787,-85.237150,4.650000
50%,4.615276e+06,7365.500000,0.000000,0.000000,28.196650,29.588900,9.060000
75%,4.618908e+06,11078.250000,1.000000,0.000000,40.721492,94.689021,14.262500
max,4.622540e+06,19488.000000,21000.000000,2700.000000,72.627500,179.991364,57.090000

In [4]:
excluded_causes = ['earthquake', 'construction', 'mining']
excluded_landslide_types = ['snow_avalanche']
df = df[~(df['landslide_trigger'].isin(excluded_causes))]
df = df[~(df['landslide_category'].isin(excluded_landslide_types))]

In [23]:
len(df)

14130

The most landslides in this dataset occurred in 1 where there have been 3934

1